
<div class="container">
  <div class="jumbotron">
    <h1>Update <%=@project.title %></h1>
  </div>
</div>
<br>

<form action="/projects/<%= @project.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="title">Rename Project</label>
  <input type="text" name="title" id="title">

  <button type="submit" class="btn-success">Update</button>
</form>

<form action="/projects/<%= @project.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn-danger">Delete</button>
</form>
<br>
<p><a href="/projects">Return to project list</a></p>