<div class="container">
  <div class="jumbotron">
    <h1>Error</h1>
  </div>
</div>
<br>

<p>Invaild entry. Please try entering a word.<p>
<br>
<p><a href="/projects">Return to project list</a></p>

