<%# check %>
<h1>Add a new project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Project</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Create</button>
</form>